* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #eeeeee;
  min-height: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
}

p {
  margin: 0;
}

.app-component {
  height: 100%;
}

md-toolbar {
  position: relative;
  z-index: 2;
}

.sa-md-tab-group {
  margin-top: 20px;
}

.sa-md-tab-group .md-tab-header {
  border: none !important;
}

.sa-md-tab-group .md-tab-label {
  opacity: 1 !important;
}

.sa-md-tab-group md-ink-bar {
  background-color: #9c27b0 !important;
}

button[md-fab] {
  position: absolute;
  right: 15%;
  top: 98px;
  z-index: 1;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  margin: 50px auto;
}

.card-container md-card {
  margin: 8px;
}


.chart {
  width: 430px;
  height: 120px;
  background: #e0e0e0;
}

.bar {
  display: inline-block;
  fill: #9c27b0;
}
