<div class="app-component layout-column">
  <md-toolbar color="primary">
    <span>Angular 2 Sorting App</span>
    <md-toolbar-row></md-toolbar-row>
    <button *ngIf="!isStarted" md-fab (click)="start()">
      <md-icon>play_arrow</md-icon>
    </button>
    <button *ngIf="isStarted" md-fab (click)="stop()">
      <md-icon>stop</md-icon>
    </button>
  </md-toolbar>
  <div class="layout-row flex">
    <md-content class="flex">
      <div class="card-container">
        <sa-chart-card [data]="data" [sorting-service]="insertionSort"></sa-chart-card>
        <sa-chart-card [data]="data" [sorting-service]="mergeSort"></sa-chart-card>
        <sa-chart-card [data]="data" [sorting-service]="quickSort"></sa-chart-card>
        <sa-chart-card [data]="data" [sorting-service]="heapSort"></sa-chart-card>
      </div>
    </md-content>
  </div>
</div>
