<div class="app-component layout-column">
  <md-toolbar color="primary">
    <span>Angular 2 Sorting App</span>
    <md-toolbar-row></md-toolbar-row>
    <button md-fab>
      <md-icon>play_arrow</md-icon>
    </button>
  </md-toolbar>
  <div class="layout-row flex">
    <md-content class="flex">
      <div class="card-container">

        <md-card>
          <md-card-title>Card with title</md-card-title>
          <md-card-subtitle>Subtitle</md-card-subtitle>
          <md-card-content>
            <p>This is supporting text.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
          </md-card-content>
          <md-card-actions>
            <button md-button>LIKE</button>
            <button md-button>SHARE</button>
          </md-card-actions>
        </md-card>

        <md-card>
          <md-card-title>Card with title</md-card-title>
          <md-card-subtitle>Subtitle</md-card-subtitle>
          <md-card-content>
            <p>This is supporting text.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
          </md-card-content>
          <md-card-actions>
            <button md-button>LIKE</button>
            <button md-button>SHARE</button>
          </md-card-actions>
        </md-card>

        <md-card>
          <md-card-title>Card with title</md-card-title>
          <md-card-subtitle>Subtitle</md-card-subtitle>
          <md-card-content>
            <p>This is supporting text.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
          </md-card-content>
          <md-card-actions>
            <button md-button>LIKE</button>
            <button md-button>SHARE</button>
          </md-card-actions>
        </md-card>

        <md-card>
          <md-card-title>Card with title</md-card-title>
          <md-card-subtitle>Subtitle</md-card-subtitle>
          <md-card-content>
            <p>This is supporting text.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
          </md-card-content>
          <md-card-actions>
            <button md-button>LIKE</button>
            <button md-button>SHARE</button>
          </md-card-actions>
        </md-card>
      </div>
    </md-content>
  </div>
</div>
