<div class="app-component layout-column">
  <md-toolbar color="primary">
    <span>Angular 2 Sorting App</span>
    <md-toolbar-row>
      <md-tab-group class="sa-md-tab-group" (selectChange)="onTabChange($event)">
        <md-tab>
          <template md-tab-label>REVERSE</template>
        </md-tab>
        <md-tab>
          <template md-tab-label>RANDOM</template>
        </md-tab>
        <md-tab>
          <template md-tab-label>FEW UNIQUE</template>
        </md-tab>
      </md-tab-group>
    </md-toolbar-row>
    <button *ngIf="!isStarted" md-fab (click)="start()">
      <md-icon>play_arrow</md-icon>
    </button>
    <button *ngIf="isStarted" md-fab (click)="stop()">
      <md-icon>stop</md-icon>
    </button>
  </md-toolbar>
  <div class="layout-row flex">
    <md-content class="flex">
      <div class="card-container">
        <sa-chart-card [data]="data" [sorting-service]="insertionSort" (onSortComplete)="onSortCompleteCount($event)"></sa-chart-card>
        <sa-chart-card [data]="data" [sorting-service]="mergeSort" (onSortComplete)="onSortCompleteCount($event)"></sa-chart-card>
        <sa-chart-card [data]="data" [sorting-service]="quickSort" (onSortComplete)="onSortCompleteCount($event)"></sa-chart-card>
        <sa-chart-card [data]="data" [sorting-service]="heapSort" (onSortComplete)="onSortCompleteCount($event)"></sa-chart-card>
      </div>
    </md-content>
  </div>
</div>
